html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/* Use for Modal display */
.show {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 50px auto;
  justify-content: center;
  gap: 10px;
}

/* Use for table details display */
.display {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 50px auto;
  justify-content: center;
  gap: 10px;
}

.btn-margin {
  margin: 10px;
}

.footer {
  position: fixed;
  margin: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.customCard {
  background: rgba(var(--bs-dark-rgb)) !important;
  color: #fff;
}

.customCard2 {
  width: 16rem;
}

.customCard2__body {
  text-align: center;
  font-size: 3rem;
}
.customCard2__title {
  font-size: 1.5rem;
}
.hide {
  display: none;
}

.container-custom {
  display: flex;
  margin: 0;
  gap: 10px;
}

.table__controller {
  background-color: white !important;
  color: #000 !important;
}

.container-lottie-deliveryMan {
  position: relative;
  z-index: 10;
  top: 0px;
}

.container-lottie-inprogress {
  position: relative;
  z-index: 10;
  top: 0;
  width: 70px;
  height: 70px;
}

.container-lottie-delivered {
  position: relative;
  z-index: 10;
  top: 0;
  width: 70px;
  height: 70px;
}

.container-lottie-sendEmail {
  position: relative;
  top: 20rem;
  width: 200px;
  height: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .container-custom {
    flex-direction: column;
  }
  .container-lottie-deliveryMan {
    display: none;
  }

  .container-lottie-inprogress {
    left: 1.5rem;
  }
  .container-lottie-delivered {
    right: -3.6rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container-lottie-deliveryMan {
    display: none;
  }

  .container-lottie-inprogress {
    left: 3.5rem;
  }
  .container-lottie-delivered {
    right: -6.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container-lottie-deliveryMan {
    top: -3rem;
    left: -5rem;
    width: 25rem;
  }
  .container-lottie-inprogress {
    left: 10rem;
  }
  .container-lottie-delivered {
    right: -18rem;
  }

  .customCard2__title {
    font-size: 1.0rem;
  }

  .customCard2__body {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .container-lottie-deliveryMan {
    top: -10rem;
    left: -10rem;
    width: 40rem;
  }
  .container-lottie-inprogress {
    left: 12rem;
  }
  .container-lottie-delivered {
    right: -28rem;
  }
  .customCard2__body {
    text-align: center;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container-lottie-deliveryMan {
    top: -10rem;
    left: -8rem;
    width: 40rem;
  }
  .container-lottie-inprogress {
    left: 15rem;
  }
  .container-lottie-delivered {
    right: -33rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container-lottie-deliveryMan {
    top: -10rem;
    left: -10rem;
    width: 50rem;
  }
  .container-lottie-inprogress {
    left: 20rem;
  }
  .container-lottie-delivered {
    right: -40rem;
  }
}
